body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(2, 0, 32);
    background-image: url(fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: 50%;
    width: 100%;
    height: 100%;

 }
h1 {
    color:  rgb(255, 153, 0);
    font-size: 70px;
    margin-left: 750px;
    position :absolute;
    text-align: center;

  } 
#logo {
    border-radius: 50px;
    margin-top: 0%;
    width: 200px;
  height: 200px;
}
#grade{
    margin-top: 70px;
    margin-left: 200px;
    display:grid;
    grid-auto-rows: 330px 330px 330px;
    grid-auto-columns: 270px 270px 270px ;
    grid-gap: 10px;
}

.checkbox{
    width: 50px;
    border-radius: 5px;
    border-color:  black;
    text-align: center;
}
#pro1{
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(0, 0, 0, 0.712);
  text-align: center;
  border-radius: 50px;
  color: rgb(255, 153, 0);
}
#produto1 {
  margin-top: 15px;
    border-radius: 50px;
    width: 200px;
  height: 200px;
}
#pro2{
  grid-column: 2;
  grid-row: 1;
  background-color: rgba(0, 0, 0, 0.712);
    text-align: center;
    border-radius: 50px;
    color: rgb(255, 153, 0);
}
#produto2 {
  margin-top: 15px;
    border-radius: 50px;
    width: 200px;
  height: 200px;
}
#pro3   {
    grid-column: 3;
    grid-row: 1;
    background-color: rgba(0, 0, 0, 0.712);
    text-align: center;
    border-radius: 50px;
    color: rgb(255, 153, 0);
}
#produto3 {
  margin-top: 15px;
    border-radius: 50px;
    width: 200px;
  height: 200px;
}
#pro4 {
    grid-column: 1;
    grid-row: 2; 
    background-color: rgba(0, 0, 0, 0.712);
    text-align: center;  
    border-radius: 50px;
    color: rgb(255, 153, 0);
}
#produto4 {
  margin-top: 15px;
    border-radius: 50px;
    width: 200px;
  height: 200px;
}
#pro5 {
    grid-column: 2;
    grid-row: 2; 
    background-color:rgba(0, 0, 0, 0.712);
    text-align: center;  
    border-radius: 50px;
    color: rgb(255, 153, 0);
}
#produto5{
  margin-top: 15px;
    border-radius: 50px;
    width: 200px;
  height: 200px;
}
#pro6 {
    grid-column: 3;
    grid-row: 2;   
    background-color: rgba(0, 0, 0, 0.712);
    text-align: center;
    border-radius: 50px;
    color: rgb(255, 153, 0);
}
#produto6{
  margin-top: 15px;
    border-radius: 50px;
    width: 200px;
  height: 200px;
}
#botaosomar{
  position: absolute;
  top: 590px;
  left: 50px;
}
#soma{
  width: 100px;
}
#bs{
  width: 108px;
  position: absolute;
  top:30px;
  background-color: rgb(255, 153, 0);
  border-color: rgb(255, 153, 0);
  border-radius: 5px;
}
#botaoentrar {
    height: 53px;
    width: 360px;
    border-radius: 10px;
    background-color: rgb(255, 153, 0);
    color:black;
    border-color:  rgb(255, 153, 0);
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 885px;
    left: 1470px;
}